<% if (post.comments) { %>
    <section id="comments">
    <% if (theme.comment.disqus) { %>
        <%- partial('comment/disqus') %>
    <% } else if (theme.comment.duoshuo) { %>
        <%- partial('comment/duoshuo') %>
    <% } else if (theme.comment.youyan) { %>
        <%- partial('comment/youyan') %>
    <% } else if (theme.comment.livere) { %>
        <%- partial('comment/livere') %>
    <% } else if (theme.comment.facebook) { %>
      <%- partial('comment/facebook') %>
    <% } else if ((typeof(theme.comment.isso) === 'object' 
                     && theme.comment.isso.on)
                   /* for backwards-compatibility */
                   || typeof(theme.comment.isso) === 'string' { %>
        <%- partial('comment/isso') %>
    <% } else if (theme.comment.changyan.on) { %>
        <%- partial('comment/changyan') %>
    <% } else if (theme.comment.valine.on) { %>
        <%- partial('comment/valine') %>
    <% } %>
    </section>
<% } %>
