<!-- Default Statcounter code -->
<script type="text/javascript">
  var sc_project=<%= theme.plugins.statcounter.sc_project %>; 
  var sc_invisible=<%= theme.plugins.statcounter.sc_invisible %>; 
  var sc_security="<%= theme.plugins.statcounter.sc_security %>"; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"
  async>
</script>
<noscript>
  <div class="statcounter">
    <a title="Web Analytics" href="http://statcounter.com/" target="_blank">
      <img class="statcounter" 
        src="//c.statcounter.com/<%= theme.plugins.statcounter.sc_project %>/0/<%=theme.plugins.statcounter.sc_security %>/1/" 
        alt="Web Analytics">
    </a>
  </div>
</noscript>
<!-- End of Statcounter Code -->
