<% if (post.date) { %>
    <div class="<%= class_name %>">
      <i class="fa fa-calendar"></i>
      <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
         <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
      </a>
    </div>
<% } %>
