<% if(index) { %>
  <article class="article article-summary">
    <div class="article-summary-inner">
      <%- partial('post/thumbnail') %>
      <div class="article-meta">
        <p class="category"><%- list_categories(post.categories, {show_count: false, depth:2, class: 'article-category', style: 'none', separator: '<i class="icon fa fa-angle-right"></i>'}) %></p>
        <p class="date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p>
      </div>
      <h2 class="article-title">
        <a href="<%- url_for((post.link?post.link:post.path)) %>" class="title"><%= post.title %></a>
      </h2>
      <p class="article-excerpt">
        <% var excerpt;
          if(post.excerpt)
            excerpt = post.excerpt.replace(/\<[^\>]+\>/g, "");
          else{
            excerpt = post.content.replace(/\<[^\>]+\>/g, "").substring(0,200);
          } %>
        <%- excerpt %>
      </p>
    </div>
  </article>
<% } else { %>
  <article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-inner">
      <!-- <%- partial('post/gallery') %> -->
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
      <% } %>
      <p class="article-byline">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      </p>
      <div class="article-entry" itemprop="articleBody">
        <%- post.content %>
      </div>
      <footer class="article-footer">
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><i class="fa fa-share"></i><%=__('article.share')%></a>
        <% if (post.comments && config.disqus_shortname){ %>
          <a href="<%- post.permalink %>#comments" class="article-comment-link"><i class="fa fa-comments"></i><%=__('article.comments')%></a>
        <% } %>
        <%- partial('post/tag') %>
      </footer>
    </div>
  </article>
  <% if (post.comments && config.disqus_shortname){ %>
    <section id="comments">
      <div id="disqus_thread">
        <% if (config.useDisqusId){ %>
          <script>var disqus_identifier = '<%= post.disqusId || post.slug %>';</script>
        <% } %>
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
  <% } %>
  <% if (!index && post.comments && config.duoshuo_shortname){ %>
  <section id="comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </section>
  <% } %>
<% } %>