<aside id="sidebar">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
  <div class="sidebar-top">
    <p><%= __('sidebar.follow') %>:</p>
    <ul class="social-links">
      <% for (var i in theme.social_links){ %>
        <li><a class="social-tooltip" title="<%= i %>" href="<%- url_for(theme.social_links[i]) %>"><i id="icon-<%= i %>" class="icon"></i></a></li>
      <% } %>
    </ul>
  </div>
  <% if(is_post()) { %>
    <%- partial('post/nav', {post: page}) %>
  <% } %>
  <div class="widgets-container">
    <% if (theme.widgets) {
      theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% })
    } %>
  </div>
</aside>