<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', {class_name: 'article-title'}) %>
            </header>
        <% } %>
        <p class="article-byline">
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </p>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><i class="fa fa-share"></i><%=__('article.share')%></a>
            <% if (post.comments && config.disqus_shortname) { %>
                <a href="<%- post.permalink %>#comments" class="article-comment-link"><i class="fa fa-comments"></i><%=__('article.comments')%></a>
            <% } %>
            <%- partial('post/tag') %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>